
/*
 * OKLCH-палитра
 * на всякий случай
 */

$red: oklch(63.7% 0.208 25.33deg);
$orange: oklch(70.5% 0.187 47.6deg);
$amber: oklch(76.9% 0.165 70.08deg);
$yellow: oklch(79.5% 0.162 86.05deg);
$lime: oklch(76.8% 0.204 130.85deg);
$green: oklch(72.3% 0.192 149.58deg);
$emerald: oklch(69.6% 0.149 162.48deg);
$teal: oklch(70.4% 0.123 182.5deg);
$cyan: oklch(71.5% 0.126 215.22deg);
$sky: oklch(68.5% 0.148 237.32deg);
$blue: oklch(62.3% 0.188 259.81deg);
$indigo: oklch(58.5% 0.204 277.12deg);
$violet: oklch(60.6% 0.219 292.72deg);
$purple: oklch(62.7% 0.233 303.9deg);
$fuchsia: oklch(66.7% 0.259 322.15deg);
$pink: oklch(65.6% 0.212 354.31deg);
$rose: oklch(64.5% 0.215 16.44deg);
$slate: oklch(55.4% 0.041 257.42deg);
$gray: oklch(55.1% 0.023 264.36deg);
$zinc: oklch(55.2% 0.014 285.94deg);
$neutral: oklch(55.6% 0 0deg);
$stone: oklch(55.3% 0.012 58.07deg);
$mauve: oklch(55.2% 0.014 285.94deg);
$olive: oklch(55.3% 0.012 58.07deg);
$mist: oklch(55.4% 0.041 257.42deg);
$taupe: oklch(55.3% 0.012 58.07deg);
