/**
 * Базовые цвета
 *
 * Из каждого базового цвета генерируются
 * светлый и тёмный оттенок, а также
 * контрастный цвет для контента
 */
$accent: #0088ff;
$gray: #eeeeee;
$light-blue: #d3e7ff;
$dark-gray: #999999;
$darkest: #222233;

$content-dark: #333333;
$content-light: #f7f7f7;

$white: #ffffff;
$black: #000000;

// Цвета из макета
$accent-base: #0088ff;
$accent-light: #00aaff;
$accent-light-50: #00aaff80;
$accent-dark: #0066ff;
$accent-pale: #d1d9e0;

$brand-accent: #0088ff;
$brand-light: #ffffff;

$content-base: #f5f5f5;
$content-light: #ffffff;
$content-dark: #dddddd;
$content-contrast: #222222;

$dark-grey-light: #999999;
$dark-grey-base: #888888;
$dark-grey-dark: #555555;

$darkest-blue: #222233;
$darkest-blue-90: #222233e5;

$grey-light: #ffffff;
$grey-light-50: #ffffff80;
$grey-base: #eeeeee;
$grey-dark: #dddddd;
$grey-contrast: #222233;

$light-blue-base: #d3e7ff;
$light-blue-light: #ebf4ff;
$light-blue-dark: #9ecaff;

$light-darkest-blue: #45454D;

$success-base: #33cc00;
$success-light: #55ee00;
$success-light-50: #55ee0080;
$success-dark: #11bb00;
$success-pale: #d5e0d1;

$danger-base: #dd0000;
$danger-light: #ff0000;
$danger-light-50: #ff000080;
$danger-dark: #bb0000;
$danger-pale: #dccbcb;
