/*
 * Базовый значения величин для отступов padding/margin и типографики
 * 1rem = 1px
 */
$scale--104:-104rem;
$scale--96: -96rem;
$scale--88: -88rem;
$scale--80: -80rem;
$scale--72: -72rem;
$scale--64: -64rem;
$scale--56: -56rem;
$scale--48: -48rem;
$scale--40: -40rem;
$scale--32: -32rem;
$scale--24: -24rem;
$scale--20: -20rem;
$scale--16: -16rem;
$scale--12: -12rem;
$scale--8: 	-8rem;
$scale--4: 	-4rem;
$scale--2: 	-2rem;
$scale--1: 	-1rem;
$scale-0: 	0;
$scale-1:   1rem;
$scale-2:   2rem;
$scale-4:   4rem;
$scale-8:   8rem;
$scale-12:  12rem;
$scale-16:  16rem;
$scale-20:  20rem;
$scale-24:  24rem;
$scale-32:  32rem;
$scale-40:  40rem;
$scale-48:  48rem;
$scale-56:  56rem;
$scale-64:  64rem;
$scale-72:  72rem;
$scale-80:  80rem;
$scale-88:  88rem;
$scale-96:  96rem;
$scale-104: 104rem;